* {
  outline: 0;
  border: 0;
  padding: 0px;
  margin: 0px;
  box-sizing: border-size;
  font-family: cursive;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("./cool-background.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: baseline;
  position: relative;
}
body::before { 
  content: "";
  position: absolute;
  inset: 0px;
  opacity: 0.8;
  background: linear-gradient(to top, black, transparent);
}

.signboard {
  width: 300px;
  height: 100px;
  margin: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #F40076, #DF98FA);
  border: 1px #dbd8d821 solid;
  box-shadow: 0px 0px 10px inset #93c39026;
  transform-style: preserve-3d;
  text-transform: capitalize;
  border-radius: 10px;
  transform: rotateY(-180deg);
  transform-origin: left;
  opacity: 0;
  animation: rotate 1s 1 ease-in forwards;
}
@keyframes rotate {
  85% {
    transform: rotateY(20deg);
    opacity: 1;
  }
  90% {
    transform: rotateY(10deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.signboard h1 {
  color: white;
}

.scene {
  --animation-status: running;
  width: 100%;
  height: 210px;
  margin: 30px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 100000px;
  transform-origin: center;
  animation: animate 10s infinite linear;
  animation-play-state: var(--animation-status);

}
.scene:hover {
  --animation-status: paused;
}
@keyframes animate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.scene .card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0%;
  background-color: white;
  border-radius: 15px;
  transform: rotateY(calc(45deg * var(--i))) translateZ(350px) translateX(0%) scaleY(0);
  transform-origin: bottom;
  transform-style: preserve-3d;
  overflow: hidden;
  border: 1px #dbd8d821 solid;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgb(171 171 171 / 40%));
  animation : scale 0.5s calc(1s + (0.1s * var(--i))) 1 forwards; 
}
@keyframes scale {
  100% {
    transform: rotateY(calc(45deg * var(--i))) translateZ(350px) translateX(0%) scaleY(1);
  }
}
.scene .card:focus {
  box-shadow: 0px 3px 5px #e14dba inset;
}

.card img.vector {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: all 0.3s;
  transition: width 0.3s, height 0.3s, border-radius 0.3s;
  cursor: pointer;
}

.scene .card:focus img.vector {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card .main {
  display: none;
  text-align: center;
}
.scene .card:focus .main {
  display: block;
}

.main h3 {
  color: #F40076;
}

.main p {
  color: #524e4e;
  font-size: 15px;
}

.contact {
  width: fit-content;
  position: absolute;
  left: 0px;
  top: 0;
  border-radius: 0% 0% 49% 0%;
  background: linear-gradient(45deg, #F40076, #DF98FA);
  transform-origin: bottom;
  transform-style: preserve-3d;
  z-index: 55;
  transition: filter 0.7s;
  filter: blur(300px);
  cursor: pointer;
}
.scene .card:focus .contact {
  filter: blur(0px);
}

.contact i {
  display: block;
  padding: 1px 18px 1px 10px;
  font-size: 23px;
  color: white;
  filter: blur(25px);
  transition: filter 0.7s calc(0.1s * var(--j));
}
.card:hover .contact i {
  transition: filter 0.7s calc(0.7s + (0.2s * var(--j)));
  filter: blur(0px);
}
